@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

/* Add the missing scroll-behavior property */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}



a {
  @apply  no-underline;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .section__padding {
    @apply py-10 px-10 max-[950px]:py-16  max-[950px]:px-8;
  }

  .app__wrapper {
    @apply flex justify-between items-center
  }

  .app__bg {
    @apply bg-black bg-center bg-cover bg-repeat bg-fixed
  }

  .p__opensans {
    @apply font-base font-bold text-black text-[30px] leading-[23px] capitalize text-center mt-13 mb-3
  }

  .p__cormorant {
    @apply font-alt text-black text-[16px] leading-[23px] capitalize font-semibold my-2
  }

  .p__cormorant-error {
    @apply font-alt text-red-500 text-[16px] leading-[23px] capitalize font-semibold my-2
  }

  .custom__button {
    @apply bg-crimson text-black font-base font-bold tracking-wider leading-7 text-base py-2 px-6 rounded-sm border-none outline-none cursor-pointer 
  }
 
  .star {
    @apply  w-[25px] h-[25px] m-[2px] bg-gray [clip-path:polygon(50%_0%,63%_38%,100%_38%,69%_59%,82%_100%,50%_75%,18%_100%,31%_59%,0%_38%,37%_38%)]
  }

  .selected_star {
    @apply  w-[25px] h-[25px] m-[2px] bg-red-600 [clip-path:polygon(50%_0%,63%_38%,100%_38%,69%_59%,82%_100%,50%_75%,18%_100%,31%_59%,0%_38%,37%_38%)]
  }

  .color {
    @apply flex flex-wrap flex-col relative border-2 border-gray-300 m-3 w-1/4 max-md:w-1/3 max-sm:w-full
  }

  .color_button {
    @apply absolute right-1 top-1 flex justify-center items-center 
  }

  .color_button button {
    @apply text-[16px] p-1  bg-gray-400  hover:bg-red-500 hover:text-golden rounded-sm border-none outline-none cursor-pointer
  }
}